<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/particle.js"></script>
        <title><%= title %></title>
    </head>
    
    <body>
    <div class="wrapper">
            <header>
                <nav>
                    <div class="logo-section">
                        <a class="logo" href="/">Joel  Wilson</a>
                        <button class="hb-button"><i class="fa fa-bars"></i></button>
                    </div>
                    <ul> 
                        <li><a href="/contact">CONTACT</a></li>
                        <li><a href="/resume">RÉSUMÉ</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/portfolio">PORTFOLIO</a></li>
                        <li><a href="/">HOME</a></li>
                    </ul>
                </nav>
            </header>
            <noscript>
                <div class="container">Please enable javaScript to use  this site.
                </div>
            </noscript>
            