<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <div class="container" id="about">
        <h1>About</h1>
        <p>Hi, I'm Joel<br>
            Infuriatingly humble food aficionado. 
            Web nerd. Hardcore pop culture lover. 
            General student. Social media fanatic.
         </p>
    </div>
<% include ./partials/footer %>