<% include ./partials/header %>
     <link rel="stylesheet" type="text/css" href="css/homepage.css">
     
    <section id="particles-js">
        <div class="text-container center-align">
            <h1>Learning and building amazing things is what I do.</h1>
            <p>SIMPLICITY IS THE  ULTIMATE <br> SOPHISTICATION</p>
        </div>
    </section>

    <script type="text/javascript" src="js/particle.js"></script>
    <script type="text/javascript">
        particlesJS.load('particles-js',
        'particles.json');
    </script>
<% include ./partials/footer %>