<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="css/portfolio.css">
    <div class="container">
        <h1>There are currently no projects to display</h1>
    </div>
<% include ./partials/footer %>