<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="css/resume.css">
    <div class="flex-container">
        <section>
            <h1>Education</h1>
            <ul>
                <li>St Elizabeth Technical High School (STETHS) 2009 - 2016</li>
                <li>University of the West Indies, Mona 2017 - 2020 | B.Sc Computer Science</li>
            </ul>
        </section>
        <section>
            <h1>Working Skills</h1>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>SCSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>MongoDB</li>
                <li>Git & Github</li>
            </ul>
        </section>
        <section>
            <h1>Non-Proficient Skills</h1>
            <ul>
                <li>Angular.js</li>
                <li>Bootstrap</li>
                <li>Java</li>
                <li>C#</li>
            </ul>
        </section>
        <section>
            <h1>Skills Wishlist</h1>
            <ul>
                <li>ASP.NET Core</li>
                <li>Spring Framework</li>
                <li>Ionic Framework</li>
                <li>Azure DB</li>
            </ul>
        </section>
    </div>
<% include ./partials/footer %>